In [2]:
import pandas as pd
data = pd.read_csv("chocolate_dataset/Chocolate-Sales.csv")

chocolate_data = data.head(100)

chocolate_data.info()
chocolate_data.describe()
chocolate_data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   100 non-null    object
 1   Country        100 non-null    object
 2   Product        100 non-null    object
 3   Date           100 non-null    object
 4   Amount         100 non-null    object
 5   Boxes Shipped  100 non-null    int64
dtypes: int64(1), object(5)
memory usage: 4.8+ KB

Sales Person     0
Country          0
Product          0
Date             0
Amount           0
Boxes Shipped    0
dtype: int64

In [3]:
chocolate_data.head(100).style